:root {
    --text-color: hsl(0, 0%, 5%);
    --bg-color: hsl(0, 0%, 100%);
    --men: rgb(165, 38, 0);
    --women: rgb(0, 127, 211);
    font-size: 15px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: hsl(228, 5%, 100%);
        --bg-color: hsl(228, 10%, 6%);
        --men: rgb(133, 31, 0);
        --women: rgb(0, 106, 177);
    }
}

body {
    font-family: system-ui, sans-serif;
    background-color: var(--bg-color);
}

h1,
h2,
p {
    text-align: center;
    color: var(--text-color);
}

h1 {
    font-size: 1.5rem;
    font-weight: lighter;
}

h2 {
    font-size: 1.2rem;
    font-weight: lighter;
}

p {
    font-size: 0.9rem;
}

#schedule {
    max-width: 800px;
    margin: 0 auto;
}

.event {
    width: 100%;
    margin: 0 auto;
}

.event-contents {
    margin: 0.5rem 0;
    display: grid;
    grid-template-columns: 10fr 5fr 25fr 30fr 5fr;
    text-align: left;
    color: var(--text-color);
}

.men, .women {
    font-weight: bold;
}

.men {
    color: var(--men);
}

.women {
    color: var(--women);
}